
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
     url("../fonts/Roboto-Medium.woff")
      format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
     url("../fonts/Roboto-Bold.woff")
      format("woff"); 
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  margin-left: 0;
  text-align: left;
  color: white;
  min-width: 1200px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.social, 
.details ul, 
.more-details ul,
.pagging  ul {
  padding: 0;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid white;
}
.container a {
  text-decoration-line: none;
}
.container--flex {
  display: flex;
  flex-wrap: wrap;
}
  
.container {
  width: 1146px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
  box-sizing: content-box;
}
.logo {
  display: flex;
}
.red-buttons {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  letter-spacing: normal;
}
.user-menu {
  padding-top:21px;
  display: flex;
  flex-wrap: wrap;
  margin-left:auto;
}
.entrance:hover {
  background-color:white;
  color:black;
}
.entrance:hover path {
  fill: black;
}
.entrance {
  display: block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  border-radius: 30px;
  line-height: 16px;
  border: none;
  color: white;
  padding-left: 44px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 17px;
  align-self: flex-start;
  margin-left: 10px;
}
.entrance svg {
  top: 6px;
  left: 16px;
  position: absolute;
  display: block;
  width: 21px;
  height: 19px;
}
.busket:hover {
  background-color: white;
  color: black;
}
.busket {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  border-radius: 30px;
  line-height: 14px;
  padding-left: 30px;
  border: none;
  color: white;
  margin-left: 9px;
  align-self: flex-start;
  padding: 9px 17px 9px 45px;
  line-height: 16px;
}
.catalog-busket .busket  {
  background-color: white;
  color: black;
}
.catalog-busket .busket::before {
  content: "";
  top: 6px;
  left: 16px;
  position: absolute;
  display: block;
  width: 21px;
  height: 19px;
  background-image: url("../img/basket-red.svg");
}
.catalog-busket .busket:hover::before {
  content: "";
  top: 6px;
  left: 16px;
  position: absolute;
  display: block;
  width: 21px;
  height: 19px;
  background-image: url("../img/basket-red.svg");
}
.busket:hover path {
  fill: black;
}
.busket svg {
  top: 6px;
  left: 16px;
  position: absolute;
  display: block;
  width: 21px;
  height: 19px;
}
.icecream-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-left: -13px;
  margin-right: -13px;
  margin-bottom: 25px;
}
.icecream-list .icecream {
  text-align: center;
  padding-bottom: 0px;
  position: relative;
}

.main-header a {
  font-size: 16px;
  line-height: 18px;
  color: white;
}
.raspberry {
  background-image: url("../img/raspberry.jpg");
  background-size: 550px 229px;
  background-repeat: round;
  border-radius: 15px;
}
.chocolate {
  background-image: url("../img/chocolate.jpg");
  background-size: 550px 229px;
  background-repeat: round;
  border-radius: 16px;
  margin-left: 26px;
}
.berry-chocolate {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  line-height: 22px;
  box-sizing: border-box;
  width: 560px;
  height: 229px;
  padding: 20px;
  padding-top: 16px;
  padding-bottom: 25px;
  margin-bottom: 6px;
}
.berry-chocolate span {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  text-align: left;
  margin-bottom: 0px;
}
.berry-chocolate p {
  width: 515px;
  margin-top: 14px;
}
.about-us {
  box-sizing: content-box;
  width: 1146px;
  color: #323232;
  padding: 26px 20px;
  padding-bottom: 0px;
  padding-right: 22px;
  background-color: #9d8b84;
  background-image: url("../img/lattice.jpg");
  background-size: 1146px 306px;
  background-repeat: round;
  border-radius: 15px;
  margin-bottom: 40px;
  margin-top: -2px;
}
.about-us h1 {
  padding: 0;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.about-us > p {
  font-size: 16px;
  line-height: 22px;
}
.blog {
  padding: 25px 20px;
  width: 560px;
  height: 220px;
  background-color: #9d8b84;
  background-image: url("../img/strawberry-icecream.jpg");
  background-size: 560px 220px;
  background-repeat: round;
  border-radius: 15px;
  box-sizing: border-box;
}
.blog > p {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.blog > a {
  margin-top: 6px;
  color: #323232;
  display: block;
  width: 320px;
  text-decoration-line: underline;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.mail {
  box-sizing: border-box;
  background-color: #f8f7f4;
  width: 549px;
  height: 211px;
  padding-top: 31px;
  padding-right: 20px;
  padding-left: 22px;
  padding-bottom: 35px;
  border-radius: 15px;
}
.mail-border {
  box-sizing: border-box;
  background-color: #9d8b84;
  background-image: url("../img/border-mail.png");
  border-radius: 15px;
  width: 560px;
  height: 220px;
  padding-top: 4px;
  padding-right: 5px;
  padding-left: 3px;
  padding-bottom: 5px;
  margin-left: 26px;
}
.mail p {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  width: 510px;
  height: 75px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 28px;
}
.mail input {
  width: 368px;
  height: 44px;
  border-radius: 5px;
  padding-left: 15px;
  border: solid 1px rgba(178, 178, 178, 0.52);
}
.icecream a {
  color: white;
  text-align: center;
  line-height: 22px;
}
.cost {
  font-weight: 700;
  font-size: 45px;
  color: white;
  text-align: left;
  line-height: 45px;
}
.container:first-of-type {
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-top: 0;
  padding-top: 32px;
}
.main-header nav {
  display: flex;
} 
.search {
  margin-left: auto;
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  padding-top: 5px;
  box-sizing: border-box;
}
.search:hover path {
  fill: black;
}
.search:hover {
  background-color: white;
}
.icecream div {
  border-radius: 50%;
}
.details { 
  margin-top: 35px;
  margin-left: 240px;
}
.more-details {
  margin-top: 35px;
  margin-left: 30px;
}
.details li {
  list-style: none;
}
.details li:nth-child(1) {
  font-weight: bold;
}
.more-details a,
.details a {
  color: white;
  font-size: 13px;
  position: relative;
  text-decoration: none;
}
.more-details a:hover,
.details a:hover {
  text-decoration: none;
}
.social,
.details,
.more-details,
.autor {
  display: flex;
}
.details li:last-child,
.more-details li:last-child {
  margin-top: 3px;
  margin-bottom: 31px;
}
.autor p {
  margin-top: 5px;
  font-size: 12px;
}
.autor {
  margin-top: 18px;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-start;
}
.social a:hover {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
  opacity: 1;
}
.social a:active {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
  opacity: 0.7;
}
.social a {
  opacity: 0.8;
}
.twitter a {
  display: block;
  margin-left: 0px;
  width: 32px;
  height: 32px;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

.instagram a {
  display: block;
  margin-left: 17px;
  width: 32px;
  height: 32px;
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.facebook a {
  display: block;
  margin-left: 17px;
  width: 32px;
  height: 32px;
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.vkontacte a {
  display: block;
  margin-left: 17px;
  width: 32px;
  height: 32px;
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.social li,
.more-details li {
  list-style: none;
}
.cross {
  background-repeat: no-repeat;
  background-image: url("../img/cross-small.svg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-left: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact {
  width: 170px;
  margin-bottom: 5px;
  margin: 0;
}
.contact p {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
}
.contact a {
  text-decoration-line: none;
  font-size: 22px;
  font-weight: bold;
}
.detail-heard::before {
  content: "";
  position: absolute;
  background-image: url("../img/heart.svg");
  background-size: 15px 13px;
  width: 15px;
  height: 13px;
  top: 2px;
  left: -22px;
}
.social {
  margin-top: 40px;
  margin-left: 3px;
}

.autor p {
  display: block;
}
.list {
  display: flex;
}

.icecream img {
  border-radius: 50%;
}

.icecream div {
  position: relative;
}
.icecream .img-container-catalog.hit::before {
  width: 61px;
  height: 61px;
  content: "";
  position: absolute;
  background-image: url("../img/hit.svg");
  background-size: 61px 61px;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
}
.icecream .border-a {
  width: 247;
}
.a-container {
  margin: 0 auto;
  margin-bottom: 8px;
  width: 255px;
  margin-top: 9px;
}
.kilos {
  font-size: 30px;
  font-weight: bold;
}
.icecream .cost {
  position: absolute;
  top: 211px;
  left: 0px;
  margin: 0px;
}
.icecream li {
  width: 267px;
  text-align: center;
}

.img-container {
  width: 266px;
  position: relative;
  margin:0 auto;
  margin-bottom: 9px;
}
.catalog {
  margin-bottom: 24px;
  margin-top: 10px;
}
.img-container a {
  display: block;
  border-radius: 50%;
}
.flex-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 55px;
}
.flex-cont p {
  position: relative;
  width: 480px;
  margin-top: 0px;
  margin-bottom: 22px;
  line-height: 22px; 
}
.border-a {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.icecream {
  padding-top: 6px;
  width: 293px;
}
.flex-cont p:nth-of-type(1)::before{
  content: "";
  position: absolute;
  display: block;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  left: -55px;
  top: -12px;
}
.flex-cont p:nth-of-type(2)::before{
  content:"";
  position: absolute;
  display: block;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  left: -60px;
  top: -12px;
}
.flex-cont p:nth-of-type(3)::before{
  content: "";
  position: absolute;
  display: block;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  left: -55px;
  top: -12px;
}
.flex-cont p:nth-of-type(4)::before{
  content:"";
  position: absolute;
  display: block;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  left: -60px;
  top: -12px;
}
.two-box {
  justify-content: space-between;
}
.red-buttons {
  color: white;
  font-size: 18px;
  display: inline-block;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
} 
.sent {
  width: 129px;
  height: 44px;
}
.jam {
  width: 165px;
  height: 46px;
  line-height: 46px;
}
.choco {
  width: 189px;
  height: 45px;
  line-height: 45px;
}
.mail form {
  display: flex;
  justify-content: space-between;
}
.raspberry, .chocolate {
  display: flex;
  flex-direction: column;
}
.raspberry .jam {
  margin-top: auto;
  margin-left: auto;
}
.chocolate .choco {
  margin-top: auto;
  margin-left: auto;
}

.img-container-catalog {
  width: 267px;
  margin-bottom: 9px;
  margin: 0 auto;
}
.img-container-catalog a {
  display: block;
  border-radius: 50%;
}
.item {
  margin-bottom: 23px;
}
.icecream:hover {
  background-color: rgba(255,255,255,0.2);
  margin-bottom:-45px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.icecream:hover .a-container {
  margin-bottom: 74px;
}
.pages {
  display: flex;
}
.pagging {
  display: flex;
  justify-content: flex-end;
}
.pages a {
  display: block;
  text-align: center;
  width: 27px;
  height: 27px;
  font-size: 16px;
  line-height: 16px ;
  color: white;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
}
.pages .number:hover {
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
}
.pages .number:active {
  border-radius: 50%;
  background-color: rgba(255,255,255);
  color: black;
}
.arrowcontainer a {
  color: rgba(255,255,255,0.2);
}
.recall-container {
  position: fixed;
  top: 330px;
  left: 0; 
  right:0;
  z-index: 2;
  margin: 0 auto;
  width: 478px;
}
.recall {
  top: 200px;
  left: 0; 
  right:0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 478px;
  background-color: #f8f7f4;
  padding: 20px;
  padding-left: 22px;
  padding-top: 17px;
  border-radius: 10px;
}
.recall p {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height:28px;
  text-align: left;
  color: #323232;
  margin-bottom: 19px;
}
.recall input{
  margin-bottom: 20px;
}
.recall input[name="name"],
.recall input[name="email"]{
  width: 267px;
  padding: 13px;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  border: solid 1px rgba(178, 178, 178, 0.52);
}
.recall input[name="email"] {
  padding-top: 13px;
  padding-bottom: 11px;
}
.recall textarea {
  padding: 12px 13px;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  border: solid 1px rgba(178, 178, 178, 0.52);
  margin-bottom: 28px;
  resize: vertical;
  height: 150px;
  width: 430px;
  }
.recall button {
  width: 139px;
  height: 44px;
  line-height: 18px;
}
.recall .red-buttons {
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 10px;
}
.recall .close {
  display: block;
  width: 20px ;
  height: 20px ;
  position: absolute;
  left: 443px;
  top: 17px;
  border: none;
  box-shadow: none;
  background-color: #f8f7f4;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
}
.sent-ice {
  width: 200px;
  height: 44px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  display: none;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 22px;
}
.icecream:hover  .sent-ice {
  display: block;
  margin:0 auto;
  bottom: 22px;
}
.slider-container {
  margin-top: -152px;
  position: relative;
  margin-bottom: -215px;
}
.slider {
  width: 1146px;
  overflow: hidden;
  display: flex;
}
.slider-1 {
  padding-top: 391px;
  padding-bottom: 349px;
  position: relative;
  width: 1146px;
  flex-shrink: 0;
}
.slider-2 {
  padding-top: 391px;
  padding-bottom: 349px;
  position: relative;
  width: 1146px;
  flex-shrink: 0;
}
.slider-3 {
  padding-top: 391px;
  padding-bottom: 349px;
  position: relative;
  width:1146px;
  flex-shrink: 0;
}

.slider-button {
  width:21px;
  height:21px;
  border-radius: 50%;
  border:2px solid white;
  background-color: transparent;
  box-sizing: border-box;

}
.slider-button.active {
  background-color:white;
}
.slider-buttons li:nth-of-type(2),
.slider-buttons li:nth-of-type(3) {
  margin-left: 8px;
}
.slider-buttons{
  position: absolute;
  left: 27px;
  top: 545px;
  list-style: none;
  display: flex;
  padding-left: 0;
}
.slider-title {
  width: 680px;
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.slider-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  margin: 0 auto;
  z-index: -1;
}
.slider .red-buttons {
  position: absolute;
  top: 538px;
  left: 435px;
  padding: 15px 43px 14px 39px;
  font-size: 32px;
  cursor: pointer;
}
.main-header {
  z-index: 1;
  position: relative;
}
.slider-wrapper {
  display: flex;
}
.map {
  height: 430px;
  position: relative;
}
.adress {
  box-sizing: border-box;
  width: 302px;
  padding: 30px 25px;
  padding-top: 29px;
  padding-right: 20px;
  position: absolute;
  top: 63px;
  right: 26px;
  border-radius: 10px;
  background-color: white;
}
.adress p {
  text-align: left ;
  line-height: 20px;
}
.contact-adress{
  margin: 0;
}

.contact:nth-of-type(2) {
  margin-bottom: 10px;
}
.contact {
  font-weight: normal;
  font-size: 14px;
  color: #323232;
  line-height: 20px;
  margin-bottom: 5px;
}
.adress .contact-adress {
  width: 230px;
  font-size: 18px;
  font-weight: bold;
  color: #323232;
  line-height: 24px;
  margin: 0px;
  margin-bottom: 20px;
}
.adress a{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  color: #323232;
  line-height: 20px;
  margin-bottom: 5px;
}
.adress .red-buttons {
  padding: 12px 28px; 
  margin:0 auto;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
.time {
  margin-bottom: 20px;
}
.green {
  background-color: #849d8f;
}
.brown {
  background-color: #9d8b84;
}
.blue {
  background-color: #8996a6;
}
.logo {
  margin-top: 9px;
}
.two-box {
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding-top: 3px;
}
.filter, 
.filter-item {
  border: 0px solid black;
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5px;
}
.filter select  {
  border: none;
  -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: white;
  padding: 9px 30px 8px 13px;
  background-image: url("../img/icon-down-dir.svg");
  background-position: 168px 50% ;
  background-size: 10px 10px;
  background-repeat: no-repeat ;
  align-self: flex-start;
}
.filter select:hover {
  color: black;
  background-image: url("../img/icon-down.svg");
}
.filter option {
  color: black;
}
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 220px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.range-controls {
  position: relative;
  padding-top: 17px;
  padding-left: 22px;
  padding-right: 22px;
  height: 20px;
}
.scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 16px;
}
.bar {
  width: 107px;
  height: 4px;
  background-color: #f8f7f4;
}
.toggle {
  position: absolute;
  top: 9px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../img/filter-button.svg") ;
  border-radius: 50%;
  cursor: pointer;
}
.toggle-min {
  left: 35px;
}
.toggle-max {
  left: 133px;
}
.min-price input,
.max-price input {
  color: white;
  background-color: transparent;
  border: none;
  width: 30px;
}
.radio-container {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 7px 17px 8px 0px;
  background-color: rgba(255, 255, 255, 0.2);
}
.radio-container label {
  display: block;
  padding-top: 5px;
  margin-left: 14px;
  position: relative;
  padding-left: 30px;
}
.radio-container label:nth-child(2) {
  margin-left: 19px;
}
.radio-container label:nth-child(3) {
  margin-left: 18px;
}
.radio-container label:nth-child(4) {
  margin-left: 19px;
}
.radio-container span{
  top: -1px;
  position: relative;
  margin-left: -30px;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/radio-off.svg");
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: center center;
}
.radio-container input:checked + span {
  background-image: url("../img/radio-on.svg");
}
.radio-container span::before {
  content: "";
  position: absolute;
  top: 10px;
  margin-left: 0px;
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/radio-off.svg");
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.filter-option label {
  padding-left: 35px;
  padding-right: 15px;
}
.check-list label {
  padding-left: 36px;
  padding-right: 19px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/radio-off.svg");
  width: 23px;
  height: 23px;
  left: 2px;
  top: -3px;
  background-size: 23px 23px;
    background-repeat: no-repeat;
    background-position: center center;
}
.fat-list, .check-list {
  margin-top:0;
  list-style: none;
  display: flex;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 3px 9px 12px;
}

.filter-option {
  position: relative;
}
.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: center center;
}
.filter-input + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  width: 25px;
  height: 25px;
  left: 2px;
  top: -4px;
  background-size: 24px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.filter-input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 24px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
}
.apply {
  margin-bottom: 16px;
  display: block;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 9px 28px 6px 28px;
  border: 2px solid white;
  color: white;
  align-self: flex-end;
}
.apply:hover {
  background-color: rgba(255,255,255);
  color: black;
}
.apply:active {
  border: none;
  padding: 11px 30px 8px 30px;
  background-color: #ededed;
  color: black;
  box-shadow: inset 0px 2px 1px 0 #696969;
}
.font {
  font-size: 14px;
}
.top {
  margin-top: 7px;
}
.left {
  margin-left: 13px;
}
.filter legend, .filter-item legend {
  margin-left: 15px;
  margin-bottom: -1px;
  
  padding-top: 3px;
}
.filter {
  border: none;
  padding: 0;
}
.first-option label {
  padding-right: 15px;
}
.loup-container {
  position: relative;
}
.search-container {
  top: 37px;
  left: -307px;
  position: absolute;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  display: none;
  z-index: 5;
}
.loup-container:hover  .search-container {
  display: block;
}
.search-container input {
  border-radius: 5px;
  width: 311px;
  box-sizing: border-box;
  padding: 9px 13px;
  border: solid 1px #d3d3d2;
  box-sizing: border-box;
}
.input {
  border-radius: 5px;
  box-sizing: border-box;
  border: solid 1px #d3d3d2;
  font-size: 14px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
}
.entrance-container {
  position: relative;
  padding-bottom: 5px;
}
.form-container {
  top: 37px;
  right: 0;
  display: none;
  position: absolute;
  padding: 20px 17px 21px 19px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 5;
}
.form-container input {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  width: 240px;
  margin-bottom: 20px;
}
  
.form-container input:nth-of-type(2) {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}
.entrance-container:hover .form-container {
  display: block;
}
.button-container {
  display: flex;
  align-items: flex-start;
}
.enter {
  margin-right: 18px;
  padding: 12px 25px 11px 25px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  border-radius: 50px;
  align-self: flex-start;
}
.button-container a {
  font-size: 13px;
  line-height: 20px;
  color: #323232;
  border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.raw img {
  border-radius: 50%;
}
.cross {
  background-color: transparent;
  display: block;
  width:  11px;
  height: 11px;
  border: none;
  box-sizing: border-box;
}
.busket-container form {
  color:black;
  font-size: 13px;
  padding: 18px 5px 23px 18px;
  padding-right: 14px;
  padding-left: 14px;
  width: 540px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  position: absolute;
  top: 37px;
  right: 0px;
  z-index: 5;
}
.busket-container table {
  border-collapse: collapse;
  margin-right: 0;
}
.grey {
  color: rgba(0,0,0, 0.3);
}
.raw td:nth-of-type(3) {
  width: 220px;
  
}
.busket-container td {
  line-height: 16px;
}
  
.result {
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  padding-top: 13px;
}
.catalog-table tr:nth-of-type(2) {
  border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.raw td:nth-of-type(1) {
  padding-left:7px;
}
.raw td:nth-of-type(2) {
  width: 52px;
  padding-right: 10px;
  padding-left: 6px;
}
.raw td:nth-of-type(5) {
  padding-left: 10px;
  width: 80px;
}
.raw td:nth-of-type(4) {
  width: 140px;
  padding-left: 10px;
  text-align: center;
}
 
.third-raw td {
  width: 115px;
  padding: 0;
  padding-top: 14px;
}

.busket-container .submit-busket {
  margin-left: 342px;
  margin-top: 15px;
}
.busket-container .red-buttons {
  padding: 12px 13px;
}
.second-raw td:nth-of-type(1) {
  padding-top: 0px;
}
.second-raw td {
  padding-bottom: 16px;
}
.busket-container {
  position: relative;
}
.busket-container form {
  display: none;
}
.busket-container:hover form {
  display: block;
}
.catalog-path {
  position: relative;
  padding-left: 22px;
  margin-top: -21px;
  font-size: 14px;
  z-index: 1;
  color: rgba(255,255,255,0.5);
}
.catalog-path span,
.catalog-path a {
  margin-right: 5px;
  font-size: 14px;
  margin-left: 3px;
  color: rgb(255,255,255);
}
.contact-index {
  margin-left: auto;
}
.blog-and-mail {
  margin-bottom: 39px;
}
.body a {
  text-decoration: none;
}
.container--relative {
  position:relative;
}
.pagging ul {
  margin-left: auto;
  margin-bottom: 18px;
}
.catalog-top {
  margin: 0;
  }
.index-catalog {
  margin-top: 0;
  color: white;
}
.slider-container {
  margin-top: -118px;
} 
.main-menu,
.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.main-menu {
  display: flex;
  padding: 20px 10px 0px 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
  
.main-menu > li {
  display: flex;
  position: relative;
  margin-right: 7px;
}
  
.main-menu a {
  margin: 10px 15px 8px;
}
.main-menu > a:hover {
  padding: 8px 14px 8px;
  margin-top: 2px;
  border-bottom: none;
  background-color: #f7f6f3;
  font-weight: bold;
  color: #333333;
  border-radius: 30px;
}
.main-menu__catalog > a {
  margin-left: 0px;
  margin-right: 0px;
  margin: 10px 15px 8px;
}
.main-menu__catalog > a:hover {
  padding: 8px 14px 8px;
  margin-left: 0px;
}

.main-menu__catalog:hover .sub-menu {
  display: block;
  z-index: 10;
}
.sub-menu {
  display: none;
  position: absolute;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  width: 143px;
  top: 40px;
  left: -5px;
  border-radius: 5px;
  padding-bottom: 7px;
  
}
.sub-menu li {
  display: flex;
}
.sub-menu span {
  width: 100%;
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 8px 3px 6px;
  border-bottom: 1px solid #d1d0ce;
  padding: 2px 10px 12px 15px;
}
.sub-menu a {
  justify-content: stretch;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  width: 100%;
  padding: 7px 20px 6px;
}
.sub-menu a:hover {
  background-color: #fbded7;
  font-weight: 400;
  border-radius: 0;
}
.sub-menu a:active {
  background-color: #f6b5a5;
}
.red-buttons:hover {
  box-shadow: 0px 2px 2px 0 #ac1000; 
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
  linear-gradient(to top, #e74a35, #f26843);
}
.red-buttons:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), 
  linear-gradient(to top, #e74a35, #f26843);
}
.slider-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.hide {
  display: none;
}
.modal-wrapper {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
  z-index: 10;
  }
  .google-map {
  width: 100%;
  height: 100%;
  border: none;
  background-image: url("../img/map.jpg");
}
.p-width {
  width: 150px;
  margin-bottom: 0;
}
.tel-width {
  width: 175px;
  margin-bottom: 6px;
}
.icecream-catalog-index {
  margin-bottom: -40px;
}
.sub-menu .here {
  background-color: #d07058;
  color: white;
}
::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
}
::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
}
:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
}
:-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
}
.main-header ::-webkit-input-placeholder {
  font-size: 14px; 
  font-weight: 400;
}
.main-header ::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
}
.main-header :-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
}
.main-header :-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
}
.left-arrow {
  transform: scale(-1, 1);
  opacity: 0.2;
}
.pages .one {
  border-radius: 50%;
  background-color: rgb(255,255,255);
  color:black;
}
.contact p {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
  margin-bottom: 6px;
}

.contact a { 
 text-decoration-line: none;
 font-size: 22px;
 font-weight: bold;
 display: block;
 text-align: right;
}
.red-catalog {
  margin: 10px 15px 8px;
}
.main-menu .red-catalog {
  padding: 10px 15px 8px;
  margin: 0px;
  border-bottom: none;
  background-color: #d07058;
  font-weight: bold;
  color: white;
  border-radius:30px;
}
.busket svg {
  top: 6px;
  left: 16px;
  position: absolute;
  display: block;
  width: 21px;
  height: 19px;
  fill: white;
}
.busket:hover svg {
  fill: black;
}
.filter select::-ms-expand {
  display: none;
}
.main-tittle {
  margin-top: 5px;
  font-size: 35px;
}
.cost span {
  font-size: 30px;
}
.cost .ruble {
  font-size: 45px;
}
.first-raw td {
  padding-bottom: 16px;
}
.second-raw td:nth-of-type(3) {
  padding-top: 12px;
}
.fat-list  {
  margin-bottom: 10px;
}
.catalog-menu {
  padding: 19px 10px 10px 9px;
}
.border-footer {
  border-top: 1px solid rgba(255,255,255,0.5);
  margin-top: 10px;
}
.catalog-menu > li,
.main-menu > li {
  margin-right: 0;
  padding-bottom: 10px;
}
.pages li:first-of-type {
  margin-right: 15px; 
}
.pages li:last-of-type {
  margin-left: 15px; 
}
.link {
  display: flex;
  flex-direction: column;
}
.main-menu .border-a:hover {
  padding: 10px 15px 8px;
  margin: 0;
  border-bottom: none;
  background-color: #f7f6f3;
  font-weight: bold;
  color: #333333;
  border-radius: 30px;
}
