/* roboto-regular - cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/roboto-v20-cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v20-cyrillic-regular.woff') format('woff'); 
  }
  /* roboto-500 - cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: 
         url('../fonts/roboto-v20-cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-cyrillic-500.woff') format('woff'); /* Legacy iOS */
  }
  /* roboto-700 - cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: 
         
         url('../fonts/roboto-v20-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-cyrillic-700.woff') format('woff'), /* Modern Browsers */
         
  }

/* длф сетки */
body > * {
    background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;
}
body > * > * {
    background: rgba(255, 45, 82, 0.2);
    box-shadow: 0 0 0 3px rgb(255, 45, 82);
  }
  body > * > * > ** {
    background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
  }
  body > * > * > * > * {
    background: rgba(0, 0, 255, 0.2);
    box-shadow: inset 0 0 0 2px blue;
  }
  .container {
      display:flex;
      flex-wrap:wrap;
        width: 1146px;  
        padding-left: 27px;
        padding-right: 27px;
        margin: 0 auto;
    }
    
    .user-menu,
    .main-nav,
    .ice {
        display:flex;
        flex-wrap:wrap;
    }

    .icecream {
        margin:0px;
        list-style: none;
        padding: 0;
    }
    .ice {

    }
body {
    font-family: "Roboto", Arial ,sans-serif;
    margin:0;
    text-align: left;
    color:white;
    background-color: #8996a6;
}
.main-header a {
    font-size: 16px;
    line-height: 18px; 
    color:white;
}
.raspberry {
    background-image:url("../img/raspberry.jpg"); 
    background-size: 550px 229px;
    background-repeat: round;
    border-radius:15px; 
}
.chocolate {
    background-image:url("../img/chocolate.jpg"); 
    background-size: 550px 229px;
    background-repeat: round;
    border-radius:16px;
}
.berry-chocolate {
    font-size: 18px;
    font-weight: bold;
    text-align:left;
    line-height: 22px;
    
    width:550px;
    height:229px;
    padding:20px;
}
.berry-chocolate span {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    text-align:left;
    margin-bottom:20px;
}

.about-us {
    width:1146px;
    height:306px;
    color:#323232;
    padding: 26px 20px;
    background-color: #9d8b84;
    background-image: url("../img/lattice.jpg");
    background-size: 1146px 306px;
    background-repeat: round;
    border-radius:15px; 

}
.about-us h1 {
    font-size: 24px;
    font-weight: 500;
    line-height:30px;
    
}
.about-us > p {
    font-size: 16px;
    line-height: 22px;
}
.blog {
    padding:25px 20px;
    width:560px;
    height:220px;
    background-color: #9d8b84;
    background-image: url("../img/strawberry-icecream.jpg");
    background-size: 560px 220px;
    background-repeat: round;
    border-radius:15px; 
}
.blog > p {
    margin:0px;
    margin-bottom:20px;
    color:#323232;
    font-size:16px;
    font-weight: 500;
    line-height: 22px;
}
.blog > a {
    color:#323232;
    display:block;
    width:320px;
    text-decoration-line: underline;
    font-size:24px;
    font-weight: 700;
    line-height: 30px;
}
.mail {
    box-sizing: border-box;
    background-color:#f8f7f4;
    width:549px;
    height:211px;
    padding-top:28px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:35px;
    border-radius:15px;
}
.mail-border {
    box-sizing: border-box;
    background-color: #9d8b84;
    background-image: url("../img/border-mail.png");
    border-radius:15px;
    width:560px;
    height:220px;
    padding-top:4px;
    padding-right:5px;
    padding-left:6px;
    padding-bottom:5px;
}
.mail  p {
    font-size:16px;
    line-height: 22px;
    color:#5a5a5a;
    width:510px;
    height:75px;
    margin-top:28px;
    margin-right:19px;
    margin-left:19px;
    margin-bottom:35px;
}
.red-buttons{
    color:white;
    text-align:center;
    line-height: 24px;
    font-size: 18px;
}
.icecream a {
    color:white;
    text-align:center;
    line-height: 22px;
}
.cost {
    font-weight:700;
    font-size:45px;
    color:white;
    text-align:left;
    line-height: 45px;
}

.search {
    width: 33px;
    height: 33px;
    background-color: rgba(255 , 255 , 255 , 0.5);
    border: none;
    border-radius: 50%;
    background-image: url("../img/loupe.svg");
    background-repeat: no-repeat;
    background-position : center;
}
.cost .ruble {
    background-image:url("../img/ruble.svg");
}
.icecream div {
    border-radius:50%;
}
.details li {
    list-style: none;
}
.details a {
    color:white;
    position: relative;
    text-decoration:none;
}
.details a:hover {
    text-decoration: none;
}
.details a::after {
    content: '';
    position: absolute;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    left: 0;
    bottom: 0;
}
.details span {
    display:inline-block;
    background-image:url("../img/heart.svg");
    background-size:15px 13px ;
    width:15px;
    height:13px;
}

.social li:nth-of-type(1) a{
    display:block;
    margin:17px;
    width:32px;
    height:32px;
    background-image:url("../img/twitter.svg");
    background-repeat: no-repeat;
    border-radius: 50%;
    border:6px solid rgba(255 , 255 , 255 , 0.5);
}

.social li:nth-of-type(2) a{
    display:block;
    margin:17px;
    width:32px;
    height:32px;
    background-image:url("../img/instagram.svg");
    background-repeat: no-repeat;
    border-radius: 50%;
    border:6px solid rgba(255 , 255 , 255 , 0.5);
    
}
.social li:nth-of-type(3) a{
    display:block;
    margin:17px;
    width:32px;
    height:32px;
    background-image:url("../img/fb.svg");
    background-repeat: no-repeat;
    border-radius: 50%;
    border:6px solid rgba(255 , 255 , 255 , 0.5);
    
}
.social li:nth-of-type(4) a{
    display:block;
    margin:17px;
    width:32px;
    height:32px;
    background-image:url("../img/vk.svg");
    background-repeat: no-repeat;
    border-radius: 50%;
    border:6px solid rgba(255 , 255 , 255 , 0.5);
    
}
.social li {
    list-style: none;
}
.cross {
    background-image: url("../img/cross-small.svg");
}

.visually-hidden {
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    border:0;
    padding:0;
    clip: rect(0 0 0 0);
    overflow:hidden;
}
.autor {
    color:white;
}
.contact {
    width:160px;
    font-size: 14px;
    font-weight: bold;
    line-height:16px;
    text-align:right;
}
.contact a {
    text-decoration-line: none;
    font-size: 22px;
    font-weight: bold;
}
 .detail-heard::before {
    content: ''; 
    position: absolute;
    background-image:url("../img/heart.svg");
    background-size:15px 13px ;
    width:15px;
    height:13px;
    left:-15px;
 } 